sudo: false
language: php
php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm
before_script:
  - composer install --no-interaction
script:
  - vendor/bin/phpunit --coverage-clover=coverage.clover
  - vendor/bin/phpcs -p --standard=PSR2 --ignore=vendor/,Tests/app/ ./